{% extends 'base.html' %}

{% block page_title %}
    <i>Current Page:</i> "{{ comm.title }}", a commission from the user {{ comm.author }}.
{% endblock %}
{% block content %}
    <ul>
        Manpower Required: {{ manpower_needed }} <br>
        Open Manpower: {{ open_manpower }} <br>
        Description: {{ comm.description }}
    </ul>
    {% if user.is_authenticated %}
        <br>
        Applying? Pick a job to apply for below:
        {% if comm.author == curr_profile %}
            <br><br>
            <i>Notice: You cannot apply for a commission you have authored yourself.</i>
            <form method="POST">
                {% csrf_token %}
                {{ job_apply_form.as_p }}
                <button type="submit" disabled>Apply to Job</button>
            </form>
            <br>
            You may edit the commission instead.
            <br><br>
            <a href="{% url 'commissions:comm_update' comm.id %}">
                <button type="button">Edit Commission</button>
            </a>
        {% else %}
            <form method="POST">
                {% csrf_token %}
                {{ job_apply_form.as_p }}
                <button type="submit">Apply to Job</button>
            </form>
        {% endif %}
    {% else %}
        <i>Log in to apply for this commission.</i>
    {% endif %}
{% endblock %}