{% extends 'base.html' %}

{% block page_title %}
    <i>Current Page:</i> Viewing {{ product.name }}, a type of {{ product.product_type.name }}.
    <br>
    {% if curr_profile == product.owner %}
        This product was created by you.
    {% else %}
        This product was created by the user {{ product.owner }}.
    {% endif %}
{% endblock %}
{% block content %}
    <ul>
        Price: {{ product.price }}
        <br>
        Description: {{ product.description }}
        <br>
        Status: {{ product.get_status_display }}
        <br>
        {% if product.stock != 0 %}
            Stock: {{ product.stock }}
        {% endif %}
    </ul>
    Buy this product:
    <br>
    {% if curr_profile == product.owner %}
        <br>
        <i>Notice: You cannot buy your own products.</i>
        <form method="POST">
            {% csrf_token %}
            {{ trans_form.as_p }}
        <button type="submit" disabled>Buy</button>
        </form>
        <br><br>
        Update this product's details:
        <br><br>
        <a href="{% url 'merchstore:product_update' product.id %}">
            <button type="button">Update</button>
        </a>
    {% else %}
        {% if product.stock != 0 %}
            <form method="POST">
                {% csrf_token %}
                {{ trans_form.as_p }}
            <button type="submit">Buy</button>
            </form>
        {% else %}
            <ul><i>Notice: This product is out of stock.</i></ul>
            <form method="POST">
                {% csrf_token %}
                {{ trans_form.as_p }}
            <button type="submit" disabled>Buy</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}